<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script> 

  </head>
  <body>
    <div id="myEmbeddedScene">
        <a-scene background="color: #111111" embedded>
            <a-assets>
              <a-asset-item id="person" src="https://cdn.glitch.com/615436db-1ab4-4094-bd42-208ebf855284%2Fdennis-posed-004.obj?v=1600865078497"></a-asset-item>
          </a-assets>
          
          <a-entity obj-model="obj: #person" scale="0.7 0.7 0.7" position="-1 0.5 -3"></a-entity>
          <a-text modelresponse value="Hi, I'm Junior;" background="color: red" position="-0.7 1.7 -2.7" width = "3" height = "2" scale="1.2 1.2 1.2"></a-text>
          
        </a-scene>

    </div>
        <div id="chatboxcontainer" style="z-index: 1;">
            <!-- <div id="chatbox">
                <p class="botText"><span>Hi! I'm Chatterbot.</span></p>
            </div> -->
            <div id="userInput">
                <input id="textInput" type="text" name="msg" placeholder="Message">
                <input id="buttonInput" type="submit" value="Send">
            </div>
        </div>
      <script>
        messageresponse = "Hi, I'm Junior!"
        AFRAME.registerComponent('modelresponse', {
          tick: function () {
            var el = this.el;
            el.setAttribute("value", messageresponse);
          }
        });

        function getBotResponse() {
          var rawText = $("#textInput").val();
          // var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
          $("#textInput").val("");
          // $("#chatbox").append(userHtml);
          document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          $.get("/get", { msg: rawText }).done(function(data) {
            // var botHtml = '<p class="botText"><span>' + data + '</span></p>';
            // $("#chatbox").append(botHtml);
            console.log(data);
            messageresponse = data;
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          });
        }
        $("#textInput").keypress(function(e) {
            if ((e.which == 13) && document.getElementById("textInput").value != "" ){
                getBotResponse();
            }
        });
        $("#buttonInput").click(function() {
            if (document.getElementById("textInput").value != "") {
                getBotResponse();
            }
        })
      </script>
  </body>
</html>
